.pagination
    .pagination-item.pagination-arrow.arrow--prev.disabled
        include ../assets/images/icon_chevron-right.svg
    .pagination-pages

        a(href='javascript:void(0)').pagination-item.pagination-page.active 1
        a(href='javascript:void(0)').pagination-item.pagination-page 2
        a(href='javascript:void(0)').pagination-item.pagination-page 3
        a(href='javascript:void(0)').pagination-item.pagination-page 4
        a(href='javascript:void(0)').pagination-item.pagination-page 5

    .pagination-item.pagination-arrow.arrow--next
        include ../assets/images/icon_chevron-right.svg