include ../includes/_mixins

a(href='javascript:void(0)').product
    .product-image
        include ./_product-badges
        .image-wrapper
            +img('equip-1.png')
    .product-info
        .product-info__manufacturer AMELIE Россия
        .product-info__name Инкубатор AMELIE STAR3000
        .product-info__purpose Инкубатор интенсивной терапии
        .product-info__characteristics Характеристики:
            ul
                li Мобильность и производительность
                li Загрузка за 2 секунды
                li До 8 часов от аккумулятор
        .product-info__actions
            button(type="button" data-src="#popup-offer" data-fancybox).action-offer.btn.btn--blue-bordered Запросить КП
            .action-compare
                include ../assets/images/ranking.svg