.swiper-nav
    .swiper-nav-el
        .swiper-nav-arrow.arrow--prev
            include ../assets/images/icon_arrow-left.svg
    .swiper-nav-el
        .swiper-nav-arrow.arrow--next
            include ../assets/images/icon_arrow-right.svg
.swiper-pagination