---
title: Smartmedix | Категории раздела
bodyClass: categories-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Категории раздела', 'Категории раздела')
    section.categories
        .container
            .categories__inner
                .categories__inner-items
                    a(href='javascript:void(0)').category
                        .category-image
                            .image-wrapper
                                +img('category.png')
                        .category-name Наименование категории
                    a(href='javascript:void(0)').category
                        .category-image
                            .image-wrapper
                                +img('category.png')
                        .category-name Наименование категории
                    a(href='javascript:void(0)').category
                        .category-image
                            .image-wrapper
                                +img('category.png')
                        .category-name Наименование категории
                    a(href='javascript:void(0)').category
                        .category-image
                            .image-wrapper
                                +img('category.png')
                        .category-name Наименование категории
                    a(href='javascript:void(0)').category
                        .category-image
                            .image-wrapper
                                +img('category.png')
                        .category-name Наименование категории

    section.seo-block
        .container
            .seo-block__inner
                .seo-block__inner-head.section-head
                    .title СЕО текст

                .seo-block__inner-text
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.