---
title: Smartmedix | Страница сравнения
bodyClass: compare-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Сравнить', 'Сравнить')
    section.compare-products.products-slider
        .container

            .compare-products__inner
                .compare-products__inner-clear
                    .clear-img
                        +img('trash.svg')
                    span Убрать все
                .products-slider__inner-slider
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                include ./components/_product
                            .swiper-slide
                                include ./components/_product-with-badge
                            .swiper-slide
                                include ./components/_product-with-badge
                            .swiper-slide
                                include ./components/_product
                            .swiper-slide
                                include ./components/_product-with-badge
                            .swiper-slide
                                include ./components/_product
                            .swiper-slide
                                include ./components/_product
                        include ./components/_swiper-nav

    section.compare-table.products-slider
        .container
            .compare-table__inner
                .products-slider__inner-slider
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                .compare
                                    .compare-parameter.compare-1
                                        .compare-parameter-title Производитель
                                        .compare-parameter-value AMELIE
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-2
                                        .compare-parameter-title Тип
                                        .compare-parameter-value Стационарный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-3
                                        .compare-parameter-title Класс
                                        .compare-parameter-value Премиальный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR

                            .swiper-slide
                                .compare
                                    .compare-parameter.compare-1
                                        .compare-parameter-title Производитель
                                        .compare-parameter-value AMELIE
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-2
                                        .compare-parameter-title Тип
                                        .compare-parameter-value Стационарный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-3
                                        .compare-parameter-title Класс
                                        .compare-parameter-value Премиальный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR






                            .swiper-slide
                                .compare
                                    .compare-parameter.compare-1
                                        .compare-parameter-title Производитель
                                        .compare-parameter-value AMELIE
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-2
                                        .compare-parameter-title Тип
                                        .compare-parameter-value Стационарный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-3
                                        .compare-parameter-title Класс
                                        .compare-parameter-value Премиальный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR

                            .swiper-slide
                                .compare
                                    .compare-parameter.compare-1
                                        .compare-parameter-title Производитель
                                        .compare-parameter-value AMELIE
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-2
                                        .compare-parameter-title Тип
                                        .compare-parameter-value Стационарный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-3
                                        .compare-parameter-title Класс
                                        .compare-parameter-value Премиальный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR






                            .swiper-slide
                                .compare
                                    .compare-parameter.compare-1
                                        .compare-parameter-title Производитель
                                        .compare-parameter-value AMELIE
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-2
                                        .compare-parameter-title Тип
                                        .compare-parameter-value Стационарный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-3
                                        .compare-parameter-title Класс
                                        .compare-parameter-value Премиальный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR

                            .swiper-slide
                                .compare
                                    .compare-parameter.compare-1
                                        .compare-parameter-title Производитель
                                        .compare-parameter-value AMELIE
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-2
                                        .compare-parameter-title Тип
                                        .compare-parameter-value Стационарный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-3
                                        .compare-parameter-title Класс
                                        .compare-parameter-value Премиальный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR


                            .swiper-slide
                                .compare
                                    .compare-parameter.compare-1
                                        .compare-parameter-title Производитель
                                        .compare-parameter-value AMELIE
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-2
                                        .compare-parameter-title Тип
                                        .compare-parameter-value Стационарный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR
                                    .compare-parameter.compare-3
                                        .compare-parameter-title Класс
                                        .compare-parameter-value Премиальный
                                        .compare-parameter-extra-value Инкубатор AMELIE STAR


                        //include ./components/_swiper-nav

