---
title: Smartmedix | Новости, статьи, обзоры
bodyClass: info-main-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('', 'Новости, статьи, обзоры')

    section.info.info-main
        .container
            .info__inner
                .info__inner-head.section-head
                    h1.title Новости
                    a(href='news.html').section-head__link.link.link--blue-underlined все новости

                .info__inner-slider.general-card-slider
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                        .swiper-nav
                            .swiper-nav-el
                                .swiper-nav-arrow.arrow--prev
                                    include assets/images/icon_arrow-left.svg
                            .swiper-nav-el
                                .swiper-nav-arrow.arrow--next
                                    include assets/images/icon_arrow-right.svg
            .info__inner
                .info__inner-head.section-head
                    h1.title Статьи
                    a(href='articles.html').section-head__link.link.link--blue-underlined все статьи

                .info__inner-slider.general-card-slider
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                        .swiper-nav
                            .swiper-nav-el
                                .swiper-nav-arrow.arrow--prev
                                    include assets/images/icon_arrow-left.svg
                            .swiper-nav-el
                                .swiper-nav-arrow.arrow--next
                                    include assets/images/icon_arrow-right.svg
            .info__inner
                .info__inner-head.section-head
                    h1.title Обзоры
                    a(href='surveys.html').section-head__link.link.link--blue-underlined все обзоры

                .info__inner-slider.general-card-slider
                    .swiper
                        .swiper-wrapper
                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                            .swiper-slide
                                a(href='javascript:void(0)').general-card
                                    .general-card__img
                                        +img('cover.jpg')
                                    .general-card__name Наименование новости/статьи/ обзора Наименование новости/статьи/ обзора


                        .swiper-nav
                            .swiper-nav-el
                                .swiper-nav-arrow.arrow--prev
                                    include assets/images/icon_arrow-left.svg
                            .swiper-nav-el
                                .swiper-nav-arrow.arrow--next
                                    include assets/images/icon_arrow-right.svg
