---
title: Smartmedix | Акции
bodyClass: promo-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Акции', 'Акции')

    section.promos-all
        .container
            .promos-all__inner
                .promos-all__items
                    a(href='javascript:void(0)').promo-item.general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Наименование акции
                        .general-card__text Дата проведения: с 24.09 до 31.12
                    a(href='javascript:void(0)').promo-item.general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Наименование акции
                        .general-card__text Дата проведения: с 24.09 до 31.12
                    a(href='javascript:void(0)').promo-item.general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Наименование акции
                        .general-card__text Дата проведения: с 24.09 до 31.12
                    a(href='javascript:void(0)').promo-item.general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Наименование акции
                        .general-card__text Дата проведения: с 24.09 до 31.12
                    a(href='javascript:void(0)').promo-item.general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Наименование акции
                        .general-card__text Дата проведения: с 24.09 до 31.12
                    a(href='javascript:void(0)').promo-item.general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Наименование акции
                        .general-card__text Дата проведения: с 24.09 до 31.12

                include components/_pagination