---
title: Smartmedix | Страница каталога
bodyClass: search-result-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Результаты поиска по “инкубатор”', 'Результаты поиска по “инкубатор”')
    section.catalog.search-result
        .container
            .catalog__inner
                .catalog__inner-products

                    .products-items
                        include ./components/_product
                        include ./components/_product-with-badge
                        include ./components/_product
                        include ./components/_product
                        include ./components/_product-with-badge
                        include ./components/_product-with-badge
                        include ./components/_product
                    include ./components/_pagination