---
title: Smartmedix | Услуги - Комплексное оснащение
bodyClass: services-inner-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('', 'Наши услуги', ['Комплексное оснащение'])
    section.company-services.service-page
        .container
            .company-services__inner

                .general-card
                    .section-head
                        h1.title Комплексное оснащение
                    .general-card__img
                        +img('service-4.jpg')
                    .general-card__text Предоставляем услугу комплексного сонащения вашего медучреждения, отделения, кабинета. Предоставляем выгодные условия по данной услуге и качественную реализацию.
                        |За эти годы мы оснастили лечебные учреждения России и других стран высококачественным оборудованием ведущих мировых производителей техники для функциональной диагностики, хирургии, реанимации, рентгенологии и томографии,
                        |офтальмологии, лабораторных исследований, оториноларингологии, акушерства и гинекологии, неонатологии, физиотерапии и реабилитации, урологии, ветеринарии и пр.
                    .general-card__action
                        button(type="button" data-src="#popup-request" data-fancybox).btn.btn--blue Оставить заявку
    section.cabinets
        .container
            .cabinets__inner
                .cabinets__inner-head.section-head
                    .title Отделения
                .cabinets__inner-items

                    a(href='services-complex-cabinets.html').general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Реанимация
                        .general-card__action
                            .btn.btn--blue Подробнее

                    a(href='services-complex-cabinets.html').general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Хирургия
                        .general-card__action
                            .btn.btn--blue Подробнее

                    a(href='services-complex-cabinets.html').general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Офтальмология
                        .general-card__action
                           .btn.btn--blue Подробнее

                    a(href='services-complex-cabinets.html').general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Физиотерапия и реабилитация
                        .general-card__action
                            .btn.btn--blue Подробнее

                    a(href='services-complex-cabinets.html').general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Урология
                        .general-card__action
                            .btn.btn--blue Подробнее

                    a(href='services-complex-cabinets.html').general-card
                        .general-card__img
                            +img('complex-1.jpg')
                        .general-card__name Неонатология
                        .general-card__action
                            .btn.btn--blue Подробнее


                .cabinets__inner-more.link-show-more
                    a(href='javascript:void(0)').link.link--blue-underlined показать вcе отделения
    section.seo-block
        .container
            .seo-block__inner
                .seo-block__inner-head.section-head
                    .title СЕО текст

                .seo-block__inner-text
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.



