---
title: Smartmedix | Услуги - Сервис
bodyClass: services-inner-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('', 'Наши услуги', ['Сервис'])
    section.company-services.service-page
        .container
            .company-services__inner

                .general-card
                    .section-head
                        h1.title Услуги сервиса
                    .general-card__img
                        +img('service-2.jpg')
                    .general-card__text Специализируемся на всех видах медоборудования  КТ, МРТ, УЗИ, ИВЛ, эндоскопами, рентген-оборудованием и другими видами медицинской техники. Оперативное реагирование и дистанционная диагностика. Приём заявок в день обращения
                    .general-card__action
                        button(type="button" data-src="#popup-request" data-fancybox).btn.btn--blue Оставить заявку
    section.services-benefits
        .container
            .services-benefits__inner
                .services-benefits__inner-head.section-head
                    h2.title Наши преимущества
                .services-benefits__inner-items
                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 1
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.

                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 2
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.

                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 3
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.


    section.info-basic
        .container
            .section-head
                h2.title Основная информация
            .info-basic__inner
                .faq__wrapper
                    .faq__item
                        .faq__question
                            .faq__question-text
                                span.num (01)
                                span.title Заголовок
                            .faq__question-icon
                                +img('icon_arrow-down.svg')
                        .faq__answer
                            h4 Заголовок 1
                            p Своевременная диагностика помогает избежать незапланированных трат на ремонт вышедшей из строя медицинской техники. Внезапно вышедшая из строя медицинская техника может остановить работу врача, повлиять на точность результатов и, в зависимости от оборудования, даже стать причиной непоправимых последствий. Регулярная диагностика сэкономит деньги, поможет избежать внезапных проблем с оборудованием и гарантирует высокое качество предоставляемых услуг. Не экономьте на своей репутации и здоровье пациентов.
                            p Сервисная служба оснащена профессиональной измерительной техникой, обладает всеми необходимыми лицензиями и сертификатами для обеспечения качественной диагностики.
                            p Процесс проведения диагностики делится на следующие этапы:<br>
                                |— приемка техники в ремонт;<br>
                                |— получение заказчиком соответствующего документа взамен;<br>
                                |— анализ техники специалистами по ремонту;<br>
                                |— определение стоимости услуг;<br>
                                |— мастера приступают к работе (в случае согласия заказчика).
                            p Коллектив инженеров постоянно совершенствуется, развивается, расширяя спектр услуг. Наши клиенты всегда могут оперативно получить консультацию по работе на высокотехнологичном медицинском оборудовании, провести с нашей помощью поверку медтехники. Также мы поможем вам в надзоре за соблюдением протоколов диагностики и лечения.
                            p Номер сервисной лицензии ФС-99-04-001693


                    .faq__item
                        .faq__question
                            .faq__question-text
                                span.num (02)
                                span.title Заголовок
                            .faq__question-icon
                                +img('icon_arrow-down.svg')
                        .faq__answer
                            h4 Заголовок 2
                            p Своевременная диагностика помогает избежать незапланированных трат на ремонт вышедшей из строя медицинской техники. Внезапно вышедшая из строя медицинская техника может остановить работу врача, повлиять на точность результатов и, в зависимости от оборудования, даже стать причиной непоправимых последствий. Регулярная диагностика сэкономит деньги, поможет избежать внезапных проблем с оборудованием и гарантирует высокое качество предоставляемых услуг. Не экономьте на своей репутации и здоровье пациентов.
                            p Сервисная служба оснащена профессиональной измерительной техникой, обладает всеми необходимыми лицензиями и сертификатами для обеспечения качественной диагностики.


                .faq__answers
    section.form-section
        .container
            .form-section__inner
                .form-section__inner-head.section-head
                    h3.title Запрос на консультацию со специалистом сервисной службы
                form
                    .form-row
                        input(type="text" name="service-form_name" placeholder="Ваше имя")
                    .form-row
                        input.phone-mask(type="tel" name="service-form_phone" placeholder="+7 (999) 999-99-99")
                    .form-row
                        input(type="email" name="service-form_email" placeholder="E-mail")

                    .form-row
                        input(type="text" name="service-form_organization" placeholder="Название организации")

                    .form-row
                        input(type="text" name="service-form_model" placeholder="Модель оборудования")

                    .form-row
                        input(type="text" name="service-form_sn" placeholder="Заводской номер")

                    .form-row
                        textarea(name="service-form_purpose" placeholder="Опишите вашу задачу")

                    .form-row.form-agreement
                        .checkbox-style
                            input#agreement(type="checkbox" style="display:none" checked)
                            label(for="agreement")
                        p соглашаюсь с <a class="link link--blue-underlined" href="policy.html">политикой конфиденциальности</a>
                    .form-action
                        button.btn.btn--blue(type="submit" data-src="#popup-success-request" data-fancybox) Оставить заявку


    section.seo-block
        .container
            .seo-block__inner
                .seo-block__inner-head.section-head
                    h2.title СЕО текст

                .seo-block__inner-text
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.



