---
title: Smartmedix | Услуги - Проектирование - Подготовка медико-технического задания на проектирование чистых помещений
bodyClass: services-inner-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('', 'Наши услуги', 'Проектирование отделений под ключ', ['Подготовка медико-технического задания на проектирование чистых помещений'])
    section.company-services.service-page.services-design-inner
        .container
            .company-services__inner

                .general-card
                    .section-head
                        h1.title Подготовка медико-технического задания на проектирование чистых помещений
                    .general-card__img
                        +img('service-1.jpg')
                    .general-card__text Чистыми помещениями называют те из них, в которых содержание пыли или патогенных микроорганизмов в воздушной среде поддерживается в определенном диапазоне, регламентированном соответствующими нормативами.
                    .general-card__action
                        button(type="button" data-src="#popup-request" data-fancybox).btn.btn--blue Оставить заявку

                    .design-services
                        h3 Классы чистоты
                        p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.
                        p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.

                        h3 Что включено в проектирование чистых помещений
                        p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.



