---
title: Smartmedix | Услуги - Обучение
bodyClass: services-inner-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('', 'Наши услуги', ['Обучение врачей и инженеров'])
    section.company-services.service-page
        .container
            .company-services__inner

                .general-card
                    .section-head
                        h1.title Обучение врачей и инженеров
                    .general-card__img
                        +img('service-3.jpg')
                    .general-card__text Обучение врачей разных специальностей, а также руководителей и административного персонала. Обучение проводят ведущие специалисты своего направления с многолетним опытом работы.
                    .general-card__action
                        button(type="button" data-src="#popup-request" data-fancybox).btn.btn--blue Оставить заявку
    section.services-benefits
        .container
            .services-benefits__inner
                .services-benefits__inner-head.section-head
                    .title Наши преимущества
                .services-benefits__inner-items
                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 1
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.

                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 2
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.

                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 3
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.


    section.info-basic
        .container
            .section-head
                .title Основная информация
            .info-basic__inner
                .faq__wrapper
                    .faq__item
                        .faq__question
                            .faq__question-text
                                span.num (01)
                                span.title Заголовок
                            .faq__question-icon
                                +img('icon_arrow-down.svg')
                        .faq__answer
                            h4 Заголовок 1
                            p Своевременная диагностика помогает избежать незапланированных трат на ремонт вышедшей из строя медицинской техники. Внезапно вышедшая из строя медицинская техника может остановить работу врача, повлиять на точность результатов и, в зависимости от оборудования, даже стать причиной непоправимых последствий. Регулярная диагностика сэкономит деньги, поможет избежать внезапных проблем с оборудованием и гарантирует высокое качество предоставляемых услуг. Не экономьте на своей репутации и здоровье пациентов.
                            p Сервисная служба оснащена профессиональной измерительной техникой, обладает всеми необходимыми лицензиями и сертификатами для обеспечения качественной диагностики.
                            p Процесс проведения диагностики делится на следующие этапы:<br>
                                |— приемка техники в ремонт;<br>
                                |— получение заказчиком соответствующего документа взамен;<br>
                                |— анализ техники специалистами по ремонту;<br>
                                |— определение стоимости услуг;<br>
                                |— мастера приступают к работе (в случае согласия заказчика).
                            p Коллектив инженеров постоянно совершенствуется, развивается, расширяя спектр услуг. Наши клиенты всегда могут оперативно получить консультацию по работе на высокотехнологичном медицинском оборудовании, провести с нашей помощью поверку медтехники. Также мы поможем вам в надзоре за соблюдением протоколов диагностики и лечения.
                            p Номер сервисной лицензии ФС-99-04-001693


                    .faq__item
                        .faq__question
                            .faq__question-text
                                span.num (02)
                                span.title Заголовок
                            .faq__question-icon
                                +img('icon_arrow-down.svg')
                        .faq__answer
                            h4 Заголовок 2
                            p Своевременная диагностика помогает избежать незапланированных трат на ремонт вышедшей из строя медицинской техники. Внезапно вышедшая из строя медицинская техника может остановить работу врача, повлиять на точность результатов и, в зависимости от оборудования, даже стать причиной непоправимых последствий. Регулярная диагностика сэкономит деньги, поможет избежать внезапных проблем с оборудованием и гарантирует высокое качество предоставляемых услуг. Не экономьте на своей репутации и здоровье пациентов.
                            p Сервисная служба оснащена профессиональной измерительной техникой, обладает всеми необходимыми лицензиями и сертификатами для обеспечения качественной диагностики.


                .faq__answers
    section.seo-block
        .container
            .seo-block__inner
                .seo-block__inner-head.section-head
                    .title СЕО текст

                .seo-block__inner-text
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.



