---
title: Smartmedix | Услуги - Проектирование
bodyClass: services-inner-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('', 'Наши услуги', ['Проектирование отделений под ключ'])
    section.company-services.service-page
        .container
            .company-services__inner

                .general-card
                    .section-head
                        h1.title Проектирование отделений под ключ
                    .general-card__img
                        +img('service-1.jpg')
                    .general-card__text Предоставляем услугу по обустройству кабинетов, отделений в соотвествии с нормами и легкой сдачей в эксплуатацию.
                    .general-card__action
                        button(type="button" data-src="#popup-request" data-fancybox).btn.btn--blue Оставить заявку
    section.services-benefits
        .container
            .services-benefits__inner
                .services-benefits__inner-head.section-head
                    h2.title Наши преимущества
                .services-benefits__inner-items
                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 1
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.

                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 2
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.

                    .services-benefit.icon-text-item
                        .item-icon
                            +img('tick-square.svg')
                        .item-title Преимущество 3
                        .item-text Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде. Описание преимущества, в развернутом виде.Описание преимущества, в развернутом виде.


    section.company-services
        .container
            .company-services__inner
                .services-benefits__inner-head.section-head
                    h2.title Категории оснащения
                .company-services__inner-items

                    .general-card
                        .general-card__img
                            +img('service-1.jpg')
                        .general-card__name Проектирование отделений под ключ
                        .general-card__text Долгие годы мы работает на рынке высокотехнологичного медицинского оборудования и занимается комплексным оснащением медицинских учреждений. За эти годы мы оснастили лечебные учреждения по всей России.
                        .general-card__action
                            a(href='javascript:void(0)').btn.btn--blue Подробнее
                    .general-card
                        .general-card__img
                            +img('service-4.jpg')
                        .general-card__name Комплексное оснащение
                        .general-card__text Предоставляем услугу комплексного сонащения вашего медучреждения, отделения, кабинета.
                            | Предоставляем выгодные условия по данной услуге и качественную реализацию.
                        .general-card__action
                            a(href='javascript:void(0)').btn.btn--blue Подробнее
                    .general-card
                        .general-card__img
                            +img('service-2.jpg')
                        .general-card__name Ремонт оборудования
                        .general-card__text Специализируемся на всех видах медоборудования  КТ, МРТ, УЗИ, ИВЛ, эндоскопами, рентген-оборудованием и другими видами медицинской техники.
                            | Оперативное реагирование и дистанционная диагностика. Приём заявок в день обращения
                        .general-card__action
                            a(href='javascript:void(0)').btn.btn--blue Подробнее
                    .general-card
                        .general-card__img
                            +img('service-3.jpg')
                        .general-card__name Обучение врачей и инженеров
                        .general-card__text Обучение врачей разных специальностей, а также руководителей и административного персонала.
                            | Обучение проводят ведущие специалисты своего направления с многолетним опытом работы.
                        .general-card__action
                            a(href='javascript:void(0)').btn.btn--blue Подробнее



    section.seo-block
        .container
            .seo-block__inner
                .seo-block__inner-head.section-head
                    h2.title СЕО текст

                .seo-block__inner-text
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.
                    p Чистота помещения уточняется путем количественного анализа частиц, находящихся в воздушной среде. Предельные значения четко фиксируются в соответствующих таблицах. Разработанные классы чистоты учитывают специфику конкретного помещения, его задачи.



