---
title: Smartmedix | Услуги
bodyClass: services-page
---

extends includes/_page

block main
    include components/_breadcrumbs
    +breadcrumbs('Наши услуги', 'Наши услуги')
    section.company-services
        .container
            .company-services__inner
                .company-services__inner-items

                    .general-card
                        .general-card__img
                            +img('service-1.jpg')
                        .general-card__name Проектирование отделений под ключ
                        .general-card__text Долгие годы мы работает на рынке высокотехнологичного медицинского оборудования и занимается комплексным оснащением медицинских учреждений. За эти годы мы оснастили лечебные учреждения по всей России.
                        .general-card__action
                            a(href='javascript:void(0)').btn.btn--blue Подробнее
                    .general-card
                        .general-card__img
                            +img('service-4.jpg')
                        .general-card__name Комплексное оснащение
                        .general-card__text Предоставляем услугу комплексного сонащения вашего медучреждения, отделения, кабинета.
                            | Предоставляем выгодные условия по данной услуге и качественную реализацию.
                        .general-card__action
                            a(href='javascript:void(0)').btn.btn--blue Подробнее
                    .general-card
                        .general-card__img
                            +img('service-2.jpg')
                        .general-card__name Ремонт оборудования
                        .general-card__text Специализируемся на всех видах медоборудования  КТ, МРТ, УЗИ, ИВЛ, эндоскопами, рентген-оборудованием и другими видами медицинской техники.
                            | Оперативное реагирование и дистанционная диагностика. Приём заявок в день обращения
                        .general-card__action
                            a(href='javascript:void(0)').btn.btn--blue Подробнее
                    .general-card
                        .general-card__img
                            +img('service-3.jpg')
                        .general-card__name Обучение врачей и инженеров
                        .general-card__text Обучение врачей разных специальностей, а также руководителей и административного персонала.
                            | Обучение проводят ведущие специалисты своего направления с многолетним опытом работы.
                        .general-card__action
                            a(href='javascript:void(0)').btn.btn--blue Подробнее
